body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #121314;
  color: #DFE0E6;
}

.screen {
  margin: 20px 20px 20px 270px;
}

@media only screen and (max-width : 900px), (max-device-width : 900px) {

  .screen {
    margin: 20px;
  }

}

button {
  background-color: #84BD00;
  border: 1px solid #84BD00;
  border-radius: 500px;
  color: #DFE0E6;
  font-size: 12px;
  line-height: 12px;
  padding: 0 15px;
  height: 28px;
}

button:hover {
  background-color: #9FE600;
}

button:focus {
  outline: none;
}