.main-nav {
  position: absolute;
  display: inline-block;
  background-color: #1C1C1F;
  color: #DFE0E6;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
}

.title {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.logo {
  position: relative;
  display: inline-block;
  background: url('../img/logo2.png') no-repeat center;
  width: 134px;
  height: 40px;
  left: 50%;
  margin: 20px 0 8px -67px;
}

.subtitle {
  padding-left: 34px;
}

.playlists {
  border-top: 1px solid #222326;
  padding-top: 20px;
}

.playlist {
  color: #88898C;
  cursor: pointer;
}

.playlist:hover,
.playlist-selected {
  color: #DFE0E6;
}