.main-nav {
  position: fixed;
  display: inline-block;
  background-color: #1C1C1F;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
}

@media only screen and (max-width : 900px), (max-device-width : 900px) {

  .main-nav {
    position: relative;
    display: block;
    width: 100%;
  }

}

.title {
  cursor: pointer;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.logo {
  position: relative;
  display: inline-block;
  background: url('../img/logo2.png') no-repeat center;
  width: 134px;
  height: 40px;
  left: 50%;
  margin: 20px 0 8px -67px;
}

.subtitle {
  position: relative;
  left: 50%;
  margin-left: -91px;
}

.playlists {
  border-top: 1px solid #222326;
  padding: 20px 0 20px 0;
}

.playlist {
  color: #88898C;
  cursor: pointer;
  padding: 5px 0 5px 23px;
}

.playlist:hover,
.playlist-selected {
  color: #DFE0E6;
  list-style-type: none;
}

.playlist-selected {
  border-left: 3px solid #84BD00;
  padding-left: 20px;
}