.playlist-title {
  margin-top: 20px;
}

.playlist-subtitle {
  color: #88898C;
  font-size: 12px;
  margin: 0 0 5px 0;
}

.playlist-name {
  margin: 0;
}

.playlist-info {
  color: #88898C;
  margin: 20px 0;
  padding: 8px 0;
  border-top: 1px solid #222326;
  border-bottom: 1px solid #222326;
}

.playlist-tracks {
  width: 100%;
}

.playlist-tracks th {
  color: #88898C;
  font-size: 12px;
  padding: 12px 5px;
}

.numeric-column {
  text-align: right;
  width: 80px;
}

.playlist-track {
  cursor: pointer;
  border-top: 1px solid #222226;
}

.playlist-track:hover {
  background-color: #222226;
}

.playlist-track:hover .remove-track {
  display: inline-block;
  padding-left: 10px;
}

.remove-track {
  display: none;
}

.remove-column {
  width: 40px;
}

.playlist-track td {
  padding: 8px 5px;
}