<nav class="main-nav">

  <div class="title">
    <a class="logo" href="http://spotify.com" alt="Spotify" target="_blank"></a>
    <small class="subtitle">Playlytics</small>
  </div>

  <ul class="playlists">
    <li class="playlist playlist-selected"><i class="fa fa-fw fa-th-list"></i>&nbsp; Mood Booster</li>
    <li class="playlist"><i class="fa fa-fw fa-th-list"></i>&nbsp; Weekend Chill­-Out</li>
    <li class="playlist"><i class="fa fa-fw fa-th-list"></i>&nbsp; Re-Energize</li>
  </ul>

</nav>