<nav navigation></nav>

<div class="screen">

  <div search add-track="addTrack(track)" save-playlist="savePlaylist()"></div>

  <header class="playlist-title">
    <h5 class="playlist-subtitle">PLAYLIST</h5>
    <h1 class="playlist-name">
      <input class="playlist-name-input" ng-model="playlist.name" />
    </h1>

    <div class="playlist-info">{{ playlist.tracks.length }} songs, {{ playlistDuration() | duration }} • Playlist Coolness: {{ coolnessFactor() }}</div>
  </header>

  <table class="playlist-tracks">
    <thead>
      <tr>
        <th>SONG</th>
        <th>ARTIST</th>
        <th>ALBUM</th>
        <th class="numeric-column"><i class="fa fa-thumbs-o-up"></i></th>
        <th class="numeric-column"><i class="fa fa-clock-o"></i></th>
        <th class="remove-column"></th>
      </tr>
    </thead>
    <tbody ui-sortable ng-model="playlist.tracks">
      <tr class="playlist-track" ng-repeat="track in playlist.tracks">
        <td>{{ track.name }}</td>
        <td>{{ track.artist }}</td>
        <td>{{ track.albumName }}</td>
        <td class="numeric-column">{{ track.popularity }}</td>
        <td class="numeric-column">{{ track.duration | duration }}</td>
        <td><i class="fa fa-trash-o remove-track" ng-click="removeTrack(track)"></i></td>
      </tr>
      <tr class="playlist-track" ng-show="playlist.tracks.length === 0">
        <td colspan="6">This playlist is empty. Why don't you search for some cool songs? :)</td>
      </tr>
    </tbody>
  </table>

  <aside class="tags-area">
    <h5 class="playlist-subtitle">TAGS</h5>

    <tags-input ng-model="playlist.tags" placeholder="Click here to add tags...">
      <auto-complete source="loadTags($query)" min-length="0" max-results-to-show="100"></auto-complete>
    </tags-input>
  </aside>

</div>