<div class="search-box">
  Search:
  <input class="search-input" ng-model="searchFilter" ng-keyup="search($event)" />
  <span class="spinner"></span>

  <button class="save-button" ng-click="saveWithFeedback()">SAVE PLAYLIST</button>
  <button class="analytics-button" ui-sref="analytics({ id : playlistId })"><i class="fa fa-line-chart"></i></button>
</div>

<ul class="search-results" ng-show="tracks.length > 0">
  <li ng-repeat="track in tracks" class="search-track" ng-class="{ 'selected-track': selectedTrack === $index }" ng-click="selectTrack(track)">
    <img class="search-track-image" ng-src="{{ track.albumCover }}" />
    <div class="track-data">
      <div class="track-name">{{ track.name }}</div>
      <div class="track-artist">{{ track.artist }}</div>
    </div>
  </li>
</ul>